body {
    font-family: Arial, sans-serif;
    background-color: rgb(255, 255, 255); /* Couleur de fond avec transparence *
}

.brand-image {
    width: 100px; /* Largeur souhaitée */
    height: auto; /* Hauteur ajustée automatiquement pour conserver les proportions */
}
footer{
    background-color: #09ff09;
}
.contenu {
    text-align: center;
}
.cc:hover{
    color: red;
}


.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


p {
    color: #6c757d;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

a:hover {
    color: white;
}
nav{
    background-color: #09ff09;
}