<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page d'accueil</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="container">
        <h1>Implémentation d'une plateforme de visualisation des résultats d'une élection présidentielle (Utulisez le dataset 2019)</h1>
        <p>Bienvenue sur notre de site de visualisation des résultats d'une élection présidentielle 2019.</p>
        <p>Voici la liste des différends candidats qui seront représentés.</p>
        <ul>
            <li><a href="/ms"><img src="/static/dist/img/mack.jpg" class="brand-image elevation-3"><div style="margin-left: 50px">Voir les résultats pour Macky SALL</div> </a></li>
            <li><a href="/ous"><img src="/static/dist/img/ousma.jpeg" class="brand-image elevation-3"><div style="margin-left: 50px">Voir les résultats pour Ousmane SONKO</div></a></li>
            <li><a href="/idy"><img src="/static/dist/img/idi.jpg" class="brand-image elevation-3"><div style="margin-left: 50px">Voir les résultats pour Idrissa SECK</div></a></li>
            <li><a href="/mad"><img src="/static/dist/img/niang.jpeg" class="brand-image elevation-3"><div style="margin-left: 50px">Voir les résultats pour Madické NIANG</div></a></li>
            <li><a href="/ehj"><img src="/static/dist/img/sall.jpeg" class="brand-image elevation-3"><div style="margin-left: 50px">Voir les résultats pour El hadji SALL</div></a></li>
        </ul>
    </div>
</body>
</html>
